extends layouts/__main


block vars
  -lotteryName      = '<%= project %>'
  -pageType         = 'account'
  -devMode          = false
  -no2kSize         = false
  -rtl              = <%= rtl %>
  -breadcrumbs      = false
  -styles           = true
  -js               = pageType

block content

  // Content -----------------------------------------------------------------------------------------------------


  // Account
  div(class=`${lotteryName}-account__wrapper`)
    div(class=`${lotteryName}-account__body`)
      div(style='color: hsl(101, 100%, 69%);font-size: 3vw')
        h1= pageType
        h2= lotteryName
  // Account



  // Account Tickets
  div(class=`${lotteryName}-account__wrapper ${lotteryName}-account-logged__wrapper`)
    div(class=`${lotteryName}-account__body`)
      div(style='color: hsl(101, 100%, 69%);font-size: 3vw')
        h1= pageType + '-logged'
        h2= lotteryName
  // Account Tickets


  // Content -------------------------------------------------------------------------------------------------------





  // Addition Buttons ----------------------------------------------------------------------------------------------
  +addAditions
    div(class=`${lotteryName}-addition__btn ${lotteryName}-addition__btn--spacer`)
      span pages

    +addBtnLink("index",   "L")
    <%_ if (raffle) { -%>
    +addBtnLink("raffle",   "R")
    <%_ } -%>
  // Addition Buttons ----------------------------------------------------------------------------------------------
