extends layouts/__main


block vars
  -lotteryName      = '<%= project %>'
  -pageType         = 'lottery'
  -devMode          = true
  -no2kSize         = true
  -rtl              = <%= rtl %>
  -breadcrumbs      = true
  -styles           = true
  -js               = pageType
  -modal            = 'modal-custom'


block content

  // Content -----------------------------------------------------------------------------------------------------------


  // Section main
  section(id=`${lotteryName}-show-main` class=`${lotteryName}-section ${lotteryName}-section--main`)
    div(style='text-transform: uppercase;color: hsl(101, 100%, 69%); height: 100vh; display: flex;flex-flow: column;justify-content: center;align-items: center;font-size: 5vw')
      h1= pageType
      h2= lotteryName
  // Section main


  // Content -----------------------------------------------------------------------------------------------------------




  // Modal -------------------------------------------------------------------------------------------------------------


  // Enter
  -modal = 'modal-enter'
  +addModal(modal, false, false)
  // Enter



  // Rules
  -modal = 'modal-rules'
  +addModal(modal, false, false)
  // Rules



  // Tickets
  -modal = 'modal-tickets'
  +addModal(modal, false, false)
  // Tickets



  // Hello
  -modal = 'modal-hello'
  +addModal(modal, true)
  // Hello


  // Modal -------------------------------------------------------------------------------------------------------------




  // Addition Buttons --------------------------------------------------------------------------------------------------
  +addAditions
    <%_ if (raffle) { -%>
    +addBtnLink("raffle",   "R")
    <%_ } -%>
    <%_ if (account) { -%>
    +addBtnLink("account",  "A")
    <%_ } -%>
    <%_ if (account || raffle) { -%>

    div(class=`${lotteryName}-addition__btn ${lotteryName}-addition__btn--spacer`)

    <%_ } -%>
    +addBtnModal("enter",    "E")
    +addBtnModal("rules",    "R")
    +addBtnModal("tickets",  "T")
    +addBtnModal("hello",    "H")
  // Addition Buttons --------------------------------------------------------------------------------------------------
