extends layouts/__main


block variables
  -
    devMode          = true
    demoPanel        = true
    lotteryName      = '<%= project %>'
    pageType         = 'raffle'
    breadcrumbsText  = lotteryName
    breadcrumbs      = true
    rtl              = <%= rtl %>
    fullHD           = true
    styles           = true
    js               = true


  //- Data -------------------------------------------------------------------------------------------------------------
  include data/data
  include sources/raffle
  //- Data -------------------------------------------------------------------------------------------------------------


block content

  // Content -------------------------------------------------------------------------------------------------------


  // Section main
  +b.SECTION.section--main(id=`${lotteryName}-show-main`)
    +addTestText
  // Section main


  // Content ---------------------------------------------------------------------------------------------------




  // Modal ---------------------------------------------------------------------------------------------------------


  // Tickets
  -modal = 'modal-tickets'
  +addModal(modal, customClose=false, customBg=false, modalNumber=false)
  // Tickets



  // Win
  -modal = 'modal-win'
  +addModal(modal, customClose=false, customBg=false, modalNumber=false)
  // Win



  // Result
  -modal = 'modal-result'
  +addModal(modal, customClose=false, customBg=false, modalNumber=false)
  // Result


  // Modal ---------------------------------------------------------------------------------------------------------




  // Demo --------------------------------------------------------------------------------------------------------------
  if demoPanel
    +addDemo(
      '#index',

      <%_ if (account) { -%>
      '#account',
      <%_ } -%>

      <%_ if (rtl) { -%>
      '@RTL',
      <%_ } -%>

      'tickets',
      'win',
      'result',
    )
  // Demo --------------------------------------------------------------------------------------------------------------
