extends layouts/__main


block variables
  -
    devMode          = true
    demo             = true
    lotteryName      = '<%= project %>'
    pageType         = 'raffle'
    modal            = 'modal-custom'
    breadcrumbsText  = lotteryName
    breadcrumbs      = true
    rtl              = <%= rtl %>
    no2kSize         = true
    styles           = true
    js               = pageType


  //- Data -------------------------------------------------------------------------------------------------------------
  include data/data
  include sources/raffle
  //- Data -------------------------------------------------------------------------------------------------------------


block content

  // Content -------------------------------------------------------------------------------------------------------


  // Section main
  +b.SECTION.section--main(id=`${lotteryName}-show-main`)
    +addTestText
  // Section main


  // Content ---------------------------------------------------------------------------------------------------




  // Modal ---------------------------------------------------------------------------------------------------------


  // Tickets
  -modal = 'modal-tickets'
  +addModal(modal, customClose=false, customBg=false, modalNumber=false)
  // Tickets



  // Win
  -modal = 'modal-win'
  +addModal(modal, customClose=false, customBg=false, modalNumber=false)
  // Win



  // Result
  -modal = 'modal-result'
  +addModal(modal, customClose=false, customBg=false, modalNumber=false)
  // Result


  // Modal ---------------------------------------------------------------------------------------------------------




  // Demo --------------------------------------------------------------------------------------------------------------
  +addDemo(
    pageType,
    '#index',

    <%_ if (account) { -%>
    '#account',
    <%_ } -%>

    <%_ if (rtl) { -%>
    '@RTL',
    <%_ } -%>

    'tickets',
    'win',
    'result',
  )
  // Demo --------------------------------------------------------------------------------------------------------------
