extends layouts/__main


block vars
  -lotteryName      = '<%= project %>'
  -pageType         = 'raffle'
  -devMode          = true
  -no2kSize         = true
  -rtl              = <%= rtl %>
  -breadcrumbs      = true
  -styles           = true
  -js               = pageType
  -modal            = 'modal-custom'


block content

  // Content -------------------------------------------------------------------------------------------------------


  // Section main
  section(id=`${lotteryName}-show-main` class=`${lotteryName}-section ${lotteryName}-section--main`)
    div(class=`${lotteryName}-test`)
      h1= pageType
      h2= lotteryName
  // Section main


  // Content ---------------------------------------------------------------------------------------------------




  // Modal ---------------------------------------------------------------------------------------------------------


  // Tickets
  -modal = 'modal-tickets'
  +addModal(modal, false, false)
  // Tickets



  // Win
  -modal = 'modal-win'
  +addModal(modal, false, false)
  // Win



  // Result
  -modal = 'modal-result'
  +addModal(modal, false, false)
  // Result


  // Modal ---------------------------------------------------------------------------------------------------------




  // Addition Buttons ----------------------------------------------------------------------------------------------
  +addAditions

    -accountMob = ''
    <%_ if (account) { -%>
    -accountMob = `${lotteryName}-addition__btn--account`
    <%_ } -%>
    div(class=`${lotteryName}-addition__btn ${lotteryName}-addition__btn--spacer ${accountMob}`)
      span pages

    +addBtnLink("index",    "L")
    <%_ if (account) { -%>
    +addBtnLink("account",  "A")
    <%_ } -%>

    div(class=`${lotteryName}-addition__btn ${lotteryName}-addition__btn--spacer`)
      span modals

    +addBtnModal("tickets", "T")
    +addBtnModal("win",     "W")
    +addBtnModal("result",  "R")
  // Addition Buttons ----------------------------------------------------------------------------------------------
