-

  // src
  srcDecor = 'img/decor'
  srcMainDecor = 'img/main/decor'
  srcMainGlass = 'img/main/glass'
  // src


  // global
  src_decorGlobal_neon1 = `${srcDecor}/neon1.png`
  src_decorGlobal_neon2 = `${srcDecor}/neon2.png`
  src_decorGlobal_neon3 = `${srcDecor}/neon3.png`
  src_decorGlobal_bg    = `${srcDecor}/bg.png`
  // global


  // section main
  src_decorMain_bg  = `${srcMainDecor}/bg.png`
  src_decorMain_el1 = `${srcMainDecor}/el1.png`
  src_decorMain_el2 = `${srcMainDecor}/el2.png`
  src_decorMain_el3 = `${srcMainDecor}/el3.png`
  src_decorMain_el4 = `${srcMainDecor}/el4.png`
  src_decorMain_el5 = `${srcMainDecor}/el5.png`
  src_decorMain_el6 = `${srcMainDecor}/el6.png`
  src_decorMain_el7 = `${srcMainDecor}/el7.png`
  src_decorMain_el8 = `${srcMainDecor}/el8.png`
  src_decorMain_el9 = `${srcMainDecor}/el9.png`

  src_decorGlass_el1 = `${srcMainGlass}/el1.png`
  src_decorGlass_el2 = `${srcMainGlass}/el2.png`
  src_decorGlass_el3 = `${srcMainGlass}/el3.png`
  src_decorGlass_el4 = `${srcMainGlass}/el4.png`
  src_decorGlass_el5 = `${srcMainGlass}/el5.png`
  src_decorGlass_el6 = `${srcMainGlass}/el6.png`
  src_decorGlass_el7 = `${srcMainGlass}/el7.png`
  src_decorGlass_el8 = `${srcMainGlass}/el8.png`

  src_main_title = 'img/main/logo.png'
  // section main
