//- Mixin block tickets
//- ====================================================================================================================


mixin addTickets(classTickets, winTicket, countTickets)

  div(class=`${lotteryName}-${classTickets}__block`)

    if winTicket
      div(class=`${lotteryName}-${classTickets}__ticket ${lotteryName}-${classTickets}__ticket--win`)
        span 79542362

    if countTickets
      - for (var i = 0; i < countTickets; i++)
        div(class=`${lotteryName}-${classTickets}__ticket`)
          span 79542362
