//- Mixin block modal
//- ====================================================================================================================


mixin addModalNew(modalName, customClose, customBg, modalNumber)
  - modalNumber = modalNumber || ''
  if customClose
    - closeBtn = 'img/modal/hello/close.png'
  else
    - closeBtn = 'img/modal/close.png'

  if modalName
    modal(name=`${modalName}${modalNumber}` @before-open="beforeOpen" @before-close="beforeClose" @opened="opened" @closed="closed")
      +b.modal(class=`${modalName}`)&attributes(attributes)


        //- close
        +e.BUTTON.close(class=`${modalName}__close` @click=`$modal.hide("${modalName}${modalNumber}")`)
          +e.IMG.close-img(class=`${modalName}__close-img` src=`${closeBtn}` alt='image')
        //- close


        //- bg
        if customBg
          +e.bg(class=`${modalName}__bg`)
        //- bg


        //- body
        +e.body(class=`${modalName}__body`)
          block
        //- body
