//- Mixin block modal
//- ====================================================================================================================


mixin addModal(modalName, customClose, customBg)

	if modalName
		modal(name=`${modalName}` @before-open="beforeOpen" @before-close="beforeClose" @opened="opened" @closed="closed")
			div(class=`${lotteryName}-modal ${lotteryName}-${modalName}`)

				//- close
				if customClose
					button(class=`${lotteryName}-modal__close ${lotteryName}-${modalName}__close` @click=`$modal.hide("${modalName}")`)
						img(class=`${lotteryName}-modal__close-img ${lotteryName}-${modalName}__close-img` src='img/modal/hello/close.png' alt='image')
				else
					button(class=`${lotteryName}-modal__close` @click=`$modal.hide("${modalName}")`)
						img(class=`${lotteryName}-modal__close-img` src='img/modal/close.png' alt='image')
				//- close


				//- bg
				if customBg
					div(class=`${lotteryName}-modal__bg ${lotteryName}-${modal}__bg`)
				//- bg


				//- body
				div(class=`${lotteryName}-modal__body ${lotteryName}-${modalName}__body`)
					block
				//- body