//- Mixin element mainBtn
//- ====================================================================================================================

mixin addMainBtn(btnText, btnClassMod, link)
	- btnText = btnText || "Сделать Ставку"
	- btnClassMod = btnClassMod || "custom"

	a(href="#!" class=`${lotteryName}-btn ${lotteryName}-btn--${btnClassMod}`)&attributes(attributes)
		span= btnText
	if link
		a(href="#!" class=`${lotteryName}-link` @click="$modal.show('modal-rules')")
			span(class=`${lotteryName}-link__text`) Правила
