//- Mixin element btnModal
//- ====================================================================================================================


mixin addBtnModal(nameOpenModal)
  - firstLetter = nameOpenModal.charAt(0).toUpperCase();
  - lastLetter = parseFloat(nameOpenModal.charAt(nameOpenModal.length - 1));

  if nameOpenModal
    button(class=`${lotteryName}-addition__btn` title=`${nameOpenModal}` @click=`$modal.show('modal-${nameOpenModal}')`)&attributes(
      attributes)

      if lastLetter
        span= firstLetter + lastLetter
      else
        span= firstLetter
