//- add bemto
include ../libs/bemto/index
//- add Mixins
include ../mixins/__allMixins


//- Variables
block variables
-
  set_bemto_settings({
  prefix: `${lotteryName}-`,
  element: '__',
  modifier: '--'
  })

if devMode

  doctype html
  html(lang='en')
    head

      include inclueds/__head

    body

      // Styles ----------------------------------------------------------------------------------------------------
      if styles
        include inclueds/__styles
      // Styles ------------------------------------------------------------------------------------------------------



      // Landing ---------------------------------------------------------------------------------------------------
      main(
        class=`${lotteryName} ${lotteryName}-${pageType} ${lotteryName}-wrapper`
        :class=`{ '${lotteryName}--is-mobile': mobile }`
      )

        //- Breadcrumbs
        if breadcrumbs
          +addBreadcrumbs(breadcrumbsText)
        //- Breadcrumbs


        //- Content
        if fullHD
          div(class=`${lotteryName}-inner`)
            block content
        else
          block content
        //- Content

      // Landing -----------------------------------------------------------------------------------------------------



      // Javascript ------------------------------------------------------------------------------------------------
      if js
        include inclueds/__scripts
      // Javascript --------------------------------------------------------------------------------------------------

else

  // Styles --------------------------------------------------------------------------------------------------------
  if styles
    include inclueds/__styles
  // Styles ------------------------------------------------------------------------------------------------------



  // Landing ---------------------------------------------------------------------------------------------------
  main(
    class=`${lotteryName} ${lotteryName}-${pageType} ${lotteryName}-wrapper`
    :class=`{ '${lotteryName}--is-mobile': mobile }`
  )

    //- Breadcrumbs
    if breadcrumbs
      +addBreadcrumbs(breadcrumbsText)
    //- Breadcrumbs


    //- Content
    if fullHD
      div(class=`${lotteryName}-inner`)
        block content
    else
      block content
    //- Content

  // Landing -----------------------------------------------------------------------------------------------------



  // Javascript ------------------------------------------------------------------------------------------------
  include inclueds/__scripts
  // Javascript --------------------------------------------------------------------------------------------------
